 /* Remove the navbar's default margin-bottom and rounded borders */ 
 .navbar {
      margin-bottom: 0;
      border-radius: 0;
      background-color:bisque;
        /*Navbar color */
  }
          
        /* Add a gray background color and some padding to the footer */
 footer {
      background-color: #f2f2f2;
      padding: 25px;
 }
          
          
 .carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
      
         /* Use width 70% for smaller carousel with transparent sides.  Delete max-height for large carousel. */
      width: 100%;
      margin: auto;
      max-height: 650px;
  }
          
        /* Set background-color of my Carousel */
      
 #myCarousel {
      background-color: #90C3D4;
 } 
          
      /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
        display: none; 
    }
  }       
       
      /* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
      
body  {
    background-image: url("images/stripedbackground-770472_1920.jpg");
    background-color: white;
    font-family: 'Playfair Display', serif;
    font-size: 200%;
    
}  






    
    /* google font */ 
 h3 {
     font-family: 'Kameron', Arial, serif; font-weight: 400; 
     }
   
.main2 {
    background-color: #90C3D4;
    width: 100%;
    height: 800px;
    margin: auto;
}
     
    /*Narbar background color */  
.navbar-custom {
    background-color: #90C3D4;
    border-color: darkblue;
   
}
     

     
     /* change navbar text color 171D1F*/
.navbar-custom .navbar-nav > li > a {
    color:#7B7E8A;   
}
     
    /* Navbar hover color */
.narbar-custom > a:hover {
     background-color: aqua;
}
      
     
     
   /*  Original Navbar hover code - don't think it works   
   .dropdown-content a:hover {background-color: #f1f1f1}  
     
     
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #red;
    background-color:transparent;
}
     
     */
     
.navbar-custom .navbar-brand {
      color:white;
}
     
.thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
     
.thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }
     
#foottext {
      font-size: 70%;
 }    
    
    
 .containercopy{
      background-color:#E6FCFB;
      height:110px;
      width:1630px;
      text-align:center;
      float:left;
      float:right;
}

 hr.style15 {
	border-top: 4px double #8c8b8b;
	text-align: center;
}

hr.style15:after {
	content: '\002665';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
}
    
     
    
/* Google Font */
     

     
/* END Fonts */
    
     